@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: var(--Color-Normal);
    outline: none;
}

:root{
    --Color-main: rgb(15, 15, 15);
    --Color-Normal: #fff;
    --Color-Button: #7a7474;
    --Bg-Button: #1C1C1C;
    --Boder: #3E3E3E;
    --Color-Basic: #7245FA;
    --Boder-Basic: #7245fa69;
}


body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--Color-main);
    justify-content: center;
    
}




main{
    width: 400px;
    background-color: var(--Bg-Button);
    padding: 30px 25px;
    border-radius: 7px;
    border: 1px solid var(--Boder);
    
}

.Gradient__Color{
    width: 330px;
    height: 190px;
    border-radius: 7px;
    background-image: linear-gradient(to left , #4c20d1 ,#ee00ff);
}

.Center__Color{
    display: grid;
    place-content: center;
}

.Partre__Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button{
    background-color: var(--Bg-Button);
    border: 1px solid var(--Boder);
    padding: 12px 20px;
    border-radius: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.Buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#Direction{
    background-color: var(--Bg-Button);
    font-size: 0.95rem;
    border: 0;
    cursor: pointer;
}

option{
   margin-top: 10px; 
   cursor: pointer;
}

.Select_Box{
    width: fit-content;
    padding: 10px;
    background-color: var(--Bg-Button);
    border: 1px solid var(--Boder);
    border-radius: 7px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 7px;
}

h2{
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: 400;
    font-size: 1.3rem;
}
input[type="color"]{
    height: 34px;
    width: 54px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
}

.Code{
    max-width: 340px;
    background-color: #8c00ff50;
    border: 1px solid #8c00ff;
    padding: 8px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 7px;

}

#Copy__Code{
    background-color: #8c00ff;
    border: #8c00ff;
}

#Refresh__Colors:hover{
    background-color: #8c00ff50;
    border: 1px solid #8c00ff;
}