@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --Color-main: rgb(15, 15, 15);
    --Color-Normal: #fff;
    --Color-Button: #7a7474;
    --Bg-Button: #1C1C1C;
    --Boder: #3E3E3E;
    --Color-Basic: #7245FA;
    --Boder-Basic: #7245fa69;
}



.Gradient__Color{
    width: 300px;
    height: 150px;
    border-radius: 7px;
    background-image: linear-gradient(to left , #4c20d1 ,#0099ff);
}

